
.icon-camera-alt:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-down-big:before { content: '\e802'; } /* '' */
.icon-left-big:before { content: '\e803'; } /* '' */
.icon-right-big:before { content: '\e804'; } /* '' */
.icon-up-big:before { content: '\e805'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-simplybuilt:before { content: '\f215'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
